@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    margin: 0;
    background: #eee;
    min-height: 200vh;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 1.2rem;
    line-height: 1.8;
}

::-webkit-scrollbar{
    background: black;
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: white;
}

    .container{
        max-width: 94rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1rem;
    }

nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 10;
    position: absolute;
    margin-top: 1.5rem;

    .container{
        max-width: 70rem;
        display: flex;
        justify-content: space-between;

        a{
            text-transform: uppercase;
            font-weight: 500;
            text-decoration: none;
            padding: 0.75rem 1.3rem;
            background: black;
            font-size: 0.9rem;
            letter-spacing: 1px;
            border-radius: 0.25rem;
            color: white;
            &:nth-child(1){animation: fadeInDown 350ms ease 3.5s both;}
            &:nth-child(2){animation: fadeInDown 350ms ease 3.7s both;}
            &:nth-child(3){animation: fadeInDown 350ms ease 3.9s both;}
            &:nth-child(4){animation: fadeInDown 350ms ease 4.1s both;}
        }

    }
}

header{
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #fff 0%, #d6d6d6 100%);
    position: relative;
    
    #parallax{
        display: block;

        div{
            height: 100vh;
            background-position: bottom center;
            background-repeat: no-repeat;
            width: 100%;
            position: absolute;

            &.parallax {
                position: fixed;
            }

        }

	#layer-0 {background-image: url('images/0.svg');}
	#layer-1 {background-image: url('images/1.svg');}
	#layer-2 {background-image: url('images/2.svg');}
	#layer-3 {background-image: url('images/3.svg');}
	#layer-4 {background-image: url('images/4.svg');}
    #layer-5 {background-image: url('images/5.svg');}
    #layer-6 {background-image: url('images/6.svg');}
	#layer-scrim {opacity: 0;}
        
    }

    #container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
    
        width: 100%;
        z-index: 2;
    }

    #logo{
        height: 500px;
        width: 318px;
        position: absolute;

        svg{
            height: 100%;
            width: 100%;
            box-sizing: border-box;

            #frame{
                stroke-miterlimit: 1;
                stroke-linecap: butt;
                stroke-dasharray: 1156;
                stroke-dashoffset: 1156;
                stroke-width: 3;
                stroke: rgba(white, 1);
                fill: none;
                animation: fadeIn 600ms ease 1000ms both, frame 600ms linear 1s forwards;
            }
        
    
            #mountain{
                fill-opacity: 0;
                fill: rgba(black, 1);
                stroke-miterlimit: 1;
                stroke-linecap: butt;
                stroke-dasharray: 1038;
                stroke-dashoffset: 1038;
                stroke-width: 2;
                stroke: rgba(black, 1);
                animation: fadeIn 600ms ease 1.6s both, mountain 600ms linear 1.6s forwards, filler 300ms linear 2.2s both;
            }

            @keyframes frame {
                from {stroke-dashoffset: 1156;}
                to {stroke-dashoffset: 0;}
            }

            @keyframes mountain {
                from {stroke-dashoffset: 1037;}
                to {stroke-dashoffset: 0;}
            }

            @keyframes filler {
                0% {fill-opacity: 0;}
                to {fill-opacity: 1;}
            }

            #this{
                path{
                    &:nth-child(1){animation: filler 300ms linear 2.5s both;}
                    &:nth-child(2){animation: filler 300ms linear 2.7s both;}
                    &:nth-child(3){animation: filler 300ms linear 2.9s both;}
                    &:nth-child(4){animation: filler 300ms linear 3.1s both;}                                                            
                }
            }

            #accommodation{
                animation: fadeInUp 600ms ease 3600ms both;
                path{
                    &:nth-child(1){animation: filler 300ms linear 3.3s both;}
                    &:nth-child(2){animation: filler 300ms linear 3.5s both;}
                    &:nth-child(3){animation: filler 300ms linear 3.7s both;}
                    &:nth-child(4){animation: filler 300ms linear 3.9s both;}
                    &:nth-child(5){animation: filler 300ms linear 4.1s both;}                                                               
                }
            }

        }
    }

    .box{
        display: block;
        position: absolute;
        filter: blur(50px);
        opacity: 0.4;
        border-radius: 50%;
        &.one{
            height: 300px;
            width: 300px;
            background: white; 
            right: 10%;
        }

        &.two{
            height: 300px;
            width: 300px;
            background: #111; 
        }
    }

}

main{
    background: white;
    position: relative;
    z-index: 5;
    min-height: 100vh;
    padding: 5rem;
}